@charset "utf-8";

.touroku {
    width: 50%;
    margin: auto;
    font-size: 30px;
    text-align: center;
    background-color: #a9a9a9;
    border: solid;
}

.ct {
    list-style: none;
    margin-top: 100px;
}

.syoki {
    width: 25%;
}
